/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3a3a3a;
}

.hidden-heading {
  display: none;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Hero image */
    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}

  /* Keyframes for icon flip */
@keyframes flip {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }

/* Main content */
main {
  flex: 1 0 auto;
  margin-top: 47px;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center/cover;
    background-position: center 35%;
    position: relative;
}


#cover-text {
  background-color: rgba(241, 109, 107, 0.7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
}

/* Reasons section */
#reasons {
  width: 90%;
  margin: 20px auto;
}

#reasons h2 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 280%;
}

#benefits-physical > div,
#benefits-mental > div {
  line-height: 20px;
  margin-bottom: 20px;
}

#benefits > p {
  padding: 0 20px;
}

#benefits hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#cicle-cover-bg {
  background: url("../images/reasons-image.webp") no-repeat center/cover;
  height: 90vw;
  width: 90vw;
  padding-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Times section */
#times {
  background: url("../images/dublin-city.webp") no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid white;
}

#times h3 {
  color: #fafafa;
}
/* Gallery page */
#photos {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-around;
  padding: 0px;
  width: 100%;
}

#photos img {
  flex: 1 1 auto; /* Allow images to grow and shrink as needed */
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 600px;
  gap: 0;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photos img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
/* Signup section */
main {
    display: flex;
    flex-direction: column;
}

#signup {
    background: url("../images/signup-image.webp") no-repeat 75% / cover;
    flex-grow: 1;
}

#signup h2 {
    color: #fafafa;
}
/* Add padding to FontAwesome icons within the form heading */
#signup h2 .fa-user-plus {
  padding-right: 10px; /* Add right padding for spacing */
}

#signup form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 20px 10%;
    margin: 30px;
}

#first_name,
#last_name,
/* Email address input */
#email_address {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
    background-color: transparent;
    color: #fafafa;
    border: 1px solid #fafafa;
    border-radius: 4px;
}

/* Radio buttons container */
.radio-buttons {
  width: fit-content;
  border: 1px solid #fafafa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* Hide radio inputs */
.radio-buttons input {
  display: none;
}

/* Radio buttons label */
.radio-buttons label {
  font-family: "Lato", sans-serif;
  padding: 10px 20px;
  border-right: 1px solid #fafafa;
  cursor: pointer;
  transition: all 0.3s;
  color: #fafafa;
  margin: 0; /* Ensure no margin */
}

/* Remove border for the last label */
.radio-buttons label:last-of-type {
  border-right: 0;
}

/* Hover effect for labels */
.radio-buttons label:hover {
  background: rgba(186, 186, 186, 0.6);
}

/* Checked state for radio buttons */
.radio-buttons input:checked + label {
  background: #f16d6b;
  color: #ffffff;
}

/* Join button */
.join-button {
    width: auto;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #f16d6b;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Join button hover effect */
.join-button:hover {
    background-color: #e05a58;
    transform: scale(1.1);
}

/* Media queries: tablets and larger devices (768px and up) */
@media screen and (min-width: 768px) {
  #signup {
    background-position: center;
  }

  #signup form {
    padding: 10px;
    margin: 150px auto auto 50px;
    max-width: 400px;
  }
  .join-button {
    padding: 15px 30px;
    font-size: 1.4em;
  }
}
/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks a {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media queries: tablets and larger devices (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: flex;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    margin-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Main content */
  main {
    margin-top: 79px;
  }

  /* Hero */
  #cover-text {
    width: 300px;
    right: 50px;
  }

  /* Reasons section */
  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }
}

/* Media queries: desktops and larger devices (992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }
}

/* Media queries: large desktops and larger devices (1200px and up) */
@media screen and (min-width: 1200px) {
  #benefits {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #benefits > div {
    flex: 1;
  }

  #benefits-image {
    order: 0;
  }

  #benefits-mental {
    order: 1;
  }

  #benefits-mental > div {
    align-self: flex-start;
  }

  #benefits-physical > div {
    align-self: flex-end;
  }
}
