/* General styles */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Oswald:wght@400;700&display=swap");

body, html {
  overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  align-items: center;
  justify-content: flex-start; /* Ensure content starts from the top */
}
.hidden-heading {
  visibility: hidden;
}
/* Navbar styles */
header {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0 2rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s ease;
  top: 0; /* Ensure the header is fixed at the top */
  margin-top: 0; /* Ensure no gap at the top */
}
header a {
  text-decoration: none;
  color: inherit;
}

#logo {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem 0;
  color: #f16d6b;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

/* Media query for mobile devices */
@media screen and (max-width: 767px) {
  #logo {
    padding: 5px 50px; /* Adjust padding for better appearance */
  }
}

#logo:hover {
  color: #e05a58;
}

#menu {
  font-size: 1rem;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  background-color: transparent;
}

#menu > li {
  margin-bottom: 0;
  background-color: transparent;
}

#menu a {
  padding: 0.5rem 0;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  background-color: transparent;
}
#menu a:hover,
#menu .active {
  color: #f16d6b;
  border-bottom: 2px solid #f16d6b;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  top: 100%;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.9); /* Opaque by default */
  z-index: 98; /* Ensure nav is below header */
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2.5rem; /* Increase font size for better touch interaction */
  cursor: pointer;
  padding: 1rem; /* Add padding for a larger touch area */
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 2rem;
    background-color: transparent; /* Transparent on larger screens */
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 2rem;
    margin-bottom: 1rem; /* Add margin for better spacing between items */
    margin-left: 2rem;
  }

  #menu a {
    padding: 1rem 0; /* Increase padding for touch-friendly links */
    font-size: 1.2rem; /* Increase font size */
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 3rem;
    line-height: 75px;
    margin: 0 1rem;
  }

  #cover-text {
    width: 300px;
    right: 50px;
  }

  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: end;
    align-self: flex-end;
  }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 2px solid #f16d6b;
  }
}

/* Keyframes for icon flip */
@keyframes flip {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
/* Adjust main content to account for the hero section */
main {
  flex: 1 0 auto;
  margin-top: 0; /* Remove margin-top */
  position: static; /* Ensure main content follows normal flow */
  z-index: 1; /* Ensure main content is above the hero section */
  width: 100%; /* Ensure main content takes up full width */
}

/* Hero section */
#hero {
  height: 55vh; /* Ensure it covers half the viewport height */
  width: 100vw; /* Ensure it covers the full viewport width */
  background: url("../images/hero-image.webp") no-repeat center/cover;
  background-position: center 80%;
  background-attachment: fixed; /* Add parallax effect */
  position: relative; /* Use relative positioning */
  top: -20px; /* Ensure it is at the top of the viewport */
  z-index: 0; /* Ensure it is behind other content */
}

#cover-text {
  background-color: rgba(241, 109, 107, 0.8);
  font-size: 1.5rem;
  position: absolute;
  bottom: 30px;
  width: 250px;
  min-height: 200px;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: #ffffff;
}
#cover-text > h2,
#cover-text > h3 {
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

/* Reasons section */
#reasons {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

#reasons h2 {
  margin-bottom: 20px;
  font-size: 2.8rem;
  color: #f16d6b;
}

#benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#benefits-physical > div,
#benefits-mental > div {
  line-height: 1.6;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Align physical benefits to the left and mental benefits to the right on larger screens */
@media screen and (min-width: 768px) {
  #benefits {
    flex-direction: row;
    justify-content: space-between;
  }

  #benefits-physical {
    align-items: flex-start;
    text-align: left;
  }

  #benefits-mental {
    align-items: flex-end;
    text-align: right;
  }
}
/* Hover effect for desktop */
@media screen and (min-width: 992px) {
  #benefits-physical > div:hover,
  #benefits-mental > div:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
}

#benefits > p {
  padding: 0 20px;
}

#benefits hr {
  border-top: 1px solid #3a3a3a;
  margin: 5px 0;
}

#cicle-cover-bg {
  background: url("../images/reasons-image.webp") no-repeat center/cover;
  height: 90vw;
  width: 90vw;
  padding-bottom: 20px;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#benefits-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Times section */
#times {
  background: url("../images/dublin-city.webp") no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

#times div {
  color: #fafafa;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  flex-basis: 200px;
  flex-grow: 1;
  border: 2px solid white;
}

#times h3 {
  color: #fafafa;
}

/* Gallery page */
#photos {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: space-around;
  padding: 0px;
  width: 100%;
  margin-top: 100px; /* Adjust this value based on the height of your navbar */
}

#photos img {
  flex: 1 1 auto; /* Allow images to grow and shrink as needed */
  max-width: 100%; /* Ensure images don't exceed their container width */
  height: auto; /* Maintain aspect ratio */
  max-height: 600px;
  gap: 0;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#photos img:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
body #signup {
  background: url("../images/signup-image.webp") no-repeat center 70%/cover; /* Adjust background position */
  width: 100%;
  min-height: 100vh; /* Ensure full viewport height */
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

#signup h2 {
  color: #fafafa;
  text-align: center;
}

/* Add padding to FontAwesome icons within the form heading */
#signup h2 .fa-user-plus {
  padding-right: 10px; /* Add right padding for spacing */
}

#signup form {
  color: #ffffff;
  background-color: rgba(60, 60, 60, 0.6);
  padding: 20px 5%;
  margin: 15vh auto;
  width: 90%;
  max-width: 500px;
  border-radius: 10px;
}

#first_name,
#last_name,
#email_address {
  width: calc(100% - 20px);
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0 10px;
  background-color: transparent;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
}

/* Radio buttons container */
.radio-buttons {
  width: 100%;
  border: 1px solid #fafafa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

/* Hide radio inputs */
.radio-buttons input {
  display: none;
}

/* Radio buttons label */
.radio-buttons label {
  font-family: "Lato", sans-serif;
  padding: 10px 20px;
  border-right: 1px solid #fafafa;
  cursor: pointer;
  transition: all 0.3s;
  color: #fafafa;
  margin: 0; /* Ensure no margin */
  flex: 1;
  text-align: center;
}

/* Remove border for the last label */
.radio-buttons label:last-of-type {
  border-right: 0;
}

/* Hover effect for labels */
.radio-buttons label:hover {
  background: rgba(186, 186, 186, 0.6);
}

/* Checked state for radio buttons */
.radio-buttons input:checked + label {
  background: #f16d6b;
  color: #ffffff;
}

/* Join button */
.join-button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #f16d6b;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  transition: background-color 0.3s ease,
    transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Join button hover effect */
@media screen and (max-width: 768px) {
  #signup {
    background-size: cover; /* Ensure background covers fully */
    padding: 0; /* Remove any padding that might cause overflow */
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }

  #signup form {
    padding: 20px;
    margin: 0 auto; /* Center the form */
    width: 100%; /* Ensure form takes up full width */
    max-width: 100%; /* Remove any max-width constraints */
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }

  .join-button {
    padding: 10px 20px;
    font-size: 1.3em;
    width: 100%; /* Make join button take up full width */
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }

  #first_name,
  #last_name,
  #email_address {
    width: 100%; /* Ensure inputs take up full width */
    height: 35px;
    margin-top: 5px;
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }

  .radio-buttons label {
    padding: 5px 10px;
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }

  footer {
    width: 100%;
    box-sizing: border-box; /* Ensure no overflow due to padding or border */
  }
}
footer {
  width: 100%;
  color: #ffffff;
  padding: 40px 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin: 0; /* Ensure no margin */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#social-networks {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

#social-networks a {
  font-size: 2rem;
  color: #2c2c2c;
  transition: color 0.3s ease, transform 0.3s ease;
}

#social-networks a:hover {
  color: #f16d6b;
  transform: scale(1.2);
}

footer p {
  margin-top: 20px;
  font-size: 1rem;
  color: #bbbbbb;
}

/* Media queries: desktops and larger devices (992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 2px solid #f16d6b;
  }
}

/* Media queries: large desktops and larger devices (1200px and up) */
@media screen and (min-width: 1200px) {
  #benefits {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #benefits > div {
    flex: 1;
  }

  #benefits-image {
    order: 0;
  }

  #benefits-mental {
    order: 1;
  }

  #benefits-mental > div {
    align-self: flex-start;
  }

  #benefits-physical > div {
    align-self: flex-end;
  }
}
